html { 
	background: url() no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	font-family:Myriad Pro, Lobster;	
}

#floater { 
	display:none;
	position:relative;
	top:-80px;
	width:500px;
	margin:0 auto 0 auto;
	position:relative;
	height:240px;
	text-align:center;
	width:100%;
	color:white;
}

#total-wrapper {
	background-color: rgba(1,1, 1, 0.5);
	border-radius: 10px 10px 10px 10px;
	width: 550px;
	margin: 0px auto;
}

#total {
	font-size: 5em;
}
#note {
	font-size:2em;
	text-align:center;
	width:100%;
}
.clear-fix { clear:both; }
#likeandfollow {
	padding:5px;
	padding-top:10px;
}

#likeandfollow #followbuttons {
	float:right;
}
#likeandfollow h3 {
	color:white;
	float:left;
	position:relative;
	top:-5px;
	margin-right:10px;
}

#likebutton {
	width:350px;
	float:left;
}

#like-wrapper { 
	
}

.fb-like {
	margin:0 auto 0 auto;
	padding:20px;
	border-radius: 10px 10px 10px 10px;
}

#version { 
	color:rgba(225,100,100,.6);
	font-size:.5em; 
	position:absolute;
	bottom:10px;
	margin:0 auto 0 auto;
}